.film {
    float: left;
    width: 400px;
    height: 300px;
    margin: 5px;
    padding: 5px;

    border: 2px solid grey;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
            "poster title"
            "poster tagline";}
.title {
    grid-area: title;
    font-size: 2em;
}
.poster {
    grid-area: poster;
    max-width: 95%;
    max-height: 95%;
}
.overview {
    grid-area: overview;
    overflow: scroll;
}
.showtimes {
    grid-area: showtimes;
}
.filmslist .film {

}
