.Card {
  flex: 0 1 200px;
  background-color: white;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px auto;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    text-align: center;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
  }

  p:nth-child(2) {}
}